exportPattern("^[[:alpha:]]+")
import(changepoint)
import(glmnet)
import(MASS)
import(cvTools)
importFrom("stats", "formula", "lm", "glm", "binomial", "plogis", "predict", "AIC", "BIC", "quantile", "sd")
importFrom("changepoint", "cpt.meanvar", "cpts")